torch>=2
torchaudio>=2
# faster-whisper==1.0.0
cresta-faster-whisper==1.0.4rc1
transformers
pandas
setuptools>=65
nltk
# Compatibility issue: https://github.com/m-bain/whisperX/issues/902
ctranslate2==4.4.0
